In [1]:
import fxcmpy

con = fxcmpy.fxcmpy(config_file='fxcm.cfg')
print(con.get_instruments())
con.close()

|WARNING|2021-02-22 21:26:29,730|Default account set to 1270618, to change use set_default_account().

['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF', 'EUR/CHF', 'AUD/USD', 'USD/CAD', 'NZD/USD', 'EUR/GBP', 'EUR/JPY', 'GBP/JPY', 'CHF/JPY', 'GBP/CHF', 'EUR/AUD', 'EUR/CAD', 'AUD/CAD', 'AUD/JPY', 'CAD/JPY', 'NZD/JPY', 'GBP/CAD', 'GBP/NZD', 'GBP/AUD', 'AUD/NZD', 'USD/SEK', 'EUR/SEK', 'EUR/NOK', 'USD/NOK', 'USD/MXN', 'AUD/CHF', 'EUR/NZD', 'USD/ZAR', 'USD/HKD', 'ZAR/JPY', 'USD/TRY', 'EUR/TRY', 'NZD/CHF', 'CAD/CHF', 'NZD/CAD', 'TRY/JPY', 'USD/ILS', 'USD/CNH', 'AUS200', 'ESP35', 'FRA40', 'GER30', 'HKG33', 'JPN225', 'NAS100', 'SPX500', 'UK100', 'US30', 'Copper', 'CHN50', 'EUSTX50', 'VOLX', 'USDOLLAR', 'US2000', 'INDIA50', 'USOil', 'UKOil', 'SOYF', 'NGAS', 'USOilSpot', 'UKOilSpot', 'WHEATF', 'CORNF', 'Bund', 'XAU/USD', 'XAG/USD', 'EMBasket', 'JPYBasket', 'BTC/USD', 'BCH/USD', 'ETH/USD', 'LTC/USD', 'CryptoMajor', 'EOS/USD', 'XLM/USD', 'ESPORTS', 'BIOTECH', 'CANNABIS', 'FAANG', 'CHN.TECH', 'CHN.ECOMM', 'USEquities', 'AIRLINES', 'CASINOS', 'TRAVEL', 'US.ECOMM', 'US.BANKS', 'US.AUTO', 'WFH', 'BA.us', 'BAC.us', 'DIS.us', 'F.us', 'JPM.us', 'PFE.us', 'T.us', 'XOM.us', 'AAPL.us', 'AMZN.us', 'BIDU.us', 'FB.us', 'GOOG.us', 'INTC.us', 'MSFT.us', 'ACA.fr', 'AI.fr', 'BNP.fr', 'AIR.fr', 'FP.fr', 'ORA.fr', 'MC.fr', 'RNO.fr', 'SAN.fr', 'ADS.de', 'ALV.de', 'BAYN.de', 'BMW.de', 'DAI.de', 'DBK.de', 'DPW.de', 'DTE.de', 'LHA.de', 'SAP.de', 'AZN.uk', 'BARC.uk', 'BATS.uk', 'BP.uk', 'GSK.uk', 'HSBA.uk', 'TSCO.uk', 'BABA.us', 'NFLX.us', 'TSLA.us', 'GLEN.uk', 'RDSB.uk', 'BYND.us', 'UBER.us', 'ZM.us', 'JD.us', 'PDD.us', 'TME.us', 'WB.us', 'BILI.us', 'NVDA.us', 'TENC.hk', 'MEIT.hk', 'BYDC.hk', 'XIAO.hk', 'BABA.hk', 'AIA.hk', 'HSBC.hk', 'WUXI.hk', 'HKEX.hk', 'GELY.hk', 'JD.hk', 'NETE.hk', 'PING.hk', 'SMIC.hk', 'SBIO.hk', 'GALA.hk', 'KIDE.hk', 'ALIH.hk', 'ICBC.hk', 'FLAT.hk', 'KSOF.hk', 'SMOO.hk', 'SUNN.hk', 'BYDE.hk']

In [7]:
import kragle.db as kdb
import datetime as dt


date_start = dt.datetime(2017, 1, 1)
date_end = dt.datetime(2021, 1, 1)

db = kdb.KragleDB('kragle_dev')
db.insert_future( 'EUR/USD', 'm5', date_start, date_end, field='bidopen', futurelen=10, limit=15 * 0.0001)

In [1]:
from kragle.db import KragleDB
from kragle.fxcm_utils import FxcmManager
import logging.config
import datetime as dt

logging.config.fileConfig('log.cfg')

date_start = dt.datetime(2014, 1, 1)
date_end = dt.datetime(2015, 1, 2)

fm = FxcmManager()
fm.fetch_instrument(date_start, date_end)
fm.close()

WARNING | Default account set to 1270618, to change use set_default_account().

In [11]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
print(client['tmp']['EUR/USD']['m1'].estimated_document_count())
client.close()

2664932

In [13]:
import datetime as dt
import pandas as pd

first = dt.datetime(2019, 1, 1)

start = first + dt.timedelta(0)
end = first + dt.timedelta(7)
    
dfm1 =  con.get_candles('EUR/USD', period='m1', start=start, end=end)
#dfm2 =  con.get_candles('EUR/USD', period='m5', start=start, end=end)

print('-----------')
dfm1.head(12)

-----------

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2019-01-02 05:25:00,1.14442,1.14558,1.14567,1.14558,1.14459,1.14573,1.14583,1.14573,128
2019-01-02 05:26:00,1.14558,1.14561,1.14564,1.14557,1.14573,1.14576,1.14579,1.14572,97
2019-01-02 05:27:00,1.14561,1.14571,1.14574,1.14555,1.14576,1.14586,1.14589,1.14571,88
2019-01-02 05:28:00,1.14571,1.14568,1.14572,1.14565,1.14586,1.14584,1.14587,1.14581,52
2019-01-02 05:29:00,1.14568,1.14572,1.14574,1.14566,1.14584,1.14587,1.14589,1.14582,71
2019-01-02 05:30:00,1.14572,1.14597,1.14598,1.14566,1.14587,1.14612,1.14614,1.14580,215
2019-01-02 05:31:00,1.14597,1.14582,1.14604,1.14577,1.14612,1.14598,1.14618,1.14593,208
2019-01-02 05:32:00,1.14582,1.14593,1.14594,1.14579,1.14598,1.14607,1.14610,1.14596,157
2019-01-02 05:33:00,1.14593,1.14603,1.14604,1.14590,1.14607,1.14618,1.14620,1.14605,96
2019-01-02 05:34:00,1.14603,1.14609,1.14622,1.14604,1.14618,1.14624,1.14637,1.14618,145
2019-01-02 05:35:00,1.14609,1.14622,1.14624,1.14608,1.14624,1.14636,1.14639,1.14623,122
2019-01-02 05:36:00,1.14622,1.14654,1.14654,1.14622,1.14636,1.14668,1.14669,1.14637,282

In [9]:
instruments = ['EUR_USD', 'USD_JPY', 'GBP_USD', 'USD_CHF', 'AUD_USD', 'USD_CAD', 'NZD_USD',  'USD_SEK', 'USD_NOK',
                 'USD_MXN', 'USD_ZAR', 'USD_HKD', 'USD_TRY', 'USD_ILS', 'USD_CNH',  'XAU_USD', 'XAG_USD', 'BTC_USD',
                 'BCH_USD', 'ETH_USD', 'LTC_USD', 'XRP_USD']
instruments2 = ['EUR_USD']

In [19]:
from pprint import pprint as pp
from  random import randrange as rr
from  random import random as rnd
import pandas as pd

df1= pd.DataFrame(  [{'A':i , 'B':rr(-10, 10, 1)  } for i in range(16)])
df2= pd.DataFrame(  [{'A':i , 'B':rr(-10, 10, 1)  } for i in range(4)])


ll = df1.merge(df2, left_on='A', right_on='A', how='left')['B_y'].isna()
df1.loc[ll]

     A  B
4    4  6
5    5  6
6    6  8
7    7  4
8    8  6
9    9 -5
10  10  6
11  11  3
12  12  1
13  13 -5
14  14  7
15  15  1

In [5]:
from pprint import pprint as pp
from  random import randrange as rr
from  random import random as rnd

tmp ={'periods':['m1','m5','m30','H2']
      , 'instruments':['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF']
      ,'future': rnd()}
def fill(d):
    for instrument in tmp['instruments']:
        pp = tmp.get(instrument, {})
        for period in tmp['periods']:
            pp[period] = [{'A':rr(-10, 10, 1) , 'B':rr(-10, 10, 1)  } for i in range(4)]
        tmp[instrument] = pp
fill(tmp)
pp(tmp)

{'EUR/USD': {'H2': [{'A': -1, 'B': 1},
                    {'A': 7, 'B': 3},
                    {'A': -1, 'B': 5},
                    {'A': -6, 'B': -2}],
             'm1': [{'A': -7, 'B': 3},
                    {'A': 4, 'B': -4},
                    {'A': -7, 'B': -7},
                    {'A': -5, 'B': 2}],
             'm30': [{'A': -10, 'B': 8},
                     {'A': -1, 'B': -5},
                     {'A': 9, 'B': 0},
                     {'A': -2, 'B': -9}],
             'm5': [{'A': -10, 'B': -6},
                    {'A': 3, 'B': 4},
                    {'A': 0, 'B': -10},
                    {'A': 9, 'B': 8}]},
 'GBP/USD': {'H2': [{'A': -4, 'B': -2},
                    {'A': 7, 'B': 3},
                    {'A': -5, 'B': 7},
                    {'A': 7, 'B': -9}],
             'm1': [{'A': -2, 'B': 3},
                    {'A': -2, 'B': -2},
                    {'A': 5, 'B': -4},
                    {'A': -3, 'B': 8}],
             'm30': [{'A': -6, 'B': 8},
                     {'A': -5, 'B': -6},
                     {'A': 9, 'B': 2},
                     {'A': -4, 'B': 0}],
             'm5': [{'A': -4, 'B': 8},
                    {'A': 5, 'B': -8},
                    {'A': 6, 'B': 7},
                    {'A': 2, 'B': -3}]},
 'USD/CHF': {'H2': [{'A': 7, 'B': -5},
                    {'A': -2, 'B': 8},
                    {'A': 7, 'B': -7},
                    {'A': 4, 'B': 8}],
             'm1': [{'A': 4, 'B': -7},
                    {'A': -6, 'B': 2},
                    {'A': 8, 'B': -6},
                    {'A': -9, 'B': -2}],
             'm30': [{'A': -4, 'B': 9},
                     {'A': -5, 'B': -4},
                     {'A': -10, 'B': -3},
                     {'A': 0, 'B': 9}],
             'm5': [{'A': 9, 'B': -1},
                    {'A': -4, 'B': 2},
                    {'A': 6, 'B': 2},
                    {'A': 1, 'B': -7}]},
 'USD/JPY': {'H2': [{'A': -9, 'B': 9},
                    {'A': 0, 'B': 7},
                    {'A': 4, 'B': -10},
                    {'A': 8, 'B': 0}],
             'm1': [{'A': 8, 'B': -6},
                    {'A': -3, 'B': 3},
                    {'A': -4, 'B': 0},
                    {'A': 9, 'B': 3}],
             'm30': [{'A': 9, 'B': 1},
                     {'A': 2, 'B': -7},
                     {'A': 6, 'B': 3},
                     {'A': 3, 'B': 9}],
             'm5': [{'A': 2, 'B': 2},
                    {'A': -5, 'B': -1},
                    {'A': 7, 'B': 3},
                    {'A': -2, 'B': 8}]},
 'future': 0.41133586215504836,
 'instruments': ['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF'],
 'periods': ['m1', 'm5', 'm30', 'H2']}

In [6]:
import pandas as pd
tmpdf = pd.DataFrame(tmp['EUR/USD']['m1'])
tmpdf

   A  B
0  0 -9
1 -5 -6
2  6  6
3 -2  6

In [1]:
from pymongo import MongoClient
from bson.objectid import ObjectId
import datetime as dt
import math
import kragle.utils as kutils

client = MongoClient('localhost', 27017)
db = client['forex_raw']
kutils.calc_mean_stddev_on_m1(db)

AUD/USD
GBP/USD
EUR/JPY
NZD/USD
ETH/USD
EUR/CHF
EUR/USD
USD/CAD
USD/JPY
EUR/GBP

{'AUD/USD': {'bidopen-mean': 0.7215011338443068,
  'bidopen-stddev': 0.03449549919923061,
  'tickqty-mean': 118.52758950342117,
  'tickqty-stddev': 117.35075252869811},
 'GBP/USD': {'bidopen-mean': 1.306045470058508,
  'bidopen-stddev': 0.0510740110999344,
  'tickqty-mean': 238.449520337502,
  'tickqty-stddev': 253.30019278767358},
 'EUR/JPY': {'bidopen-mean': 126.22677189801796,
  'bidopen-stddev': 4.900224014649606,
  'tickqty-mean': 294.04874988954253,
  'tickqty-stddev': 271.2790238186229},
 'NZD/USD': {'bidopen-mean': 0.6756844651739055,
  'bidopen-stddev': 0.028767763078855844,
  'tickqty-mean': 141.71975166041005,
  'tickqty-stddev': 186.06869392047022},
 'ETH/USD': {'bidopen-mean': 184.8891701235586,
  'bidopen-stddev': 58.78773627488316,
  'tickqty-mean': 9.964320442481823,
  'tickqty-stddev': 13.635078134047228},
 'EUR/CHF': {'bidopen-mean': 1.1339010859176415,
  'bidopen-stddev': 0.02875215262182526,
  'tickqty-mean': 136.14979504244153,
  'tickqty-stddev': 155.51165364814727},
 'EUR/USD': {'bidopen-mean': 1.1504445718777256,
  'bidopen-stddev': 0.04153776056630949,
  'tickqty-mean': 180.1350922478563,
  'tickqty-stddev': 207.86094040306583},
 'USD/CAD': {'bidopen-mean': 1.3111861299825256,
  'bidopen-stddev': 0.02644891972012609,
  'tickqty-mean': 140.5138994221619,
  'tickqty-stddev': 152.54700063760185},
 'USD/JPY': {'bidopen-mean': 109.7192352159121,
  'bidopen-stddev': 2.1149730431117097,
  'tickqty-mean': 183.46459704833705,
  'tickqty-stddev': 173.42603579694918},
 'EUR/GBP': {'bidopen-mean': 0.8809797351093193,
  'bidopen-stddev': 0.016359942028812403,
  'tickqty-mean': 149.70364815511036,
  'tickqty-stddev': 163.40862103990318}}

In [115]:
db = client['forex_raw']['EUR/USD']
: {}'.format(stddev))
    print('')

m1
n: 746142
mu: 1.1504445718777256
stddev: 0.04153776056630949

m5
n: 150780
mu: 1.1503996281336986
stddev: 0.04152779127708446

m15
n: 50400
mu: 1.1504265753968217
stddev: 0.04154378682377574

m30
n: 25239
mu: 1.1504261202900314
stddev: 0.041551924196424034

H1
n: 12653
mu: 1.1504102378882477
stddev: 0.04155133694654934

In [99]:
from kragle import KragleDB
import datetime as dt

kdb = KragleDB('kragle_test_future')
start_date = dt.datetime(2018, 11, 23, 21, 30)
end_date = dt.datetime(2018, 11, 23, 23, 10)
kdb.insert_future('EUR/USD', 'm5', start_date, end_date, field='bidopen', d=12, r=2)
df = kdb.get_instrument('EUR/USD', 'm5', start_date, end_date)
df.head()

                        _id                date  bidopen  tickqty  future
0  5ef3de4d83b088658cab7bcf 2018-11-23 23:10:00        0       20    25.2
1  5ef3de4d83b088658cab7bcd 2018-11-23 23:05:00        0       19    25.8
2  5ef3de4d83b088658cab7bcb 2018-11-23 23:00:00        0       18    25.8
3  5ef3de4d83b088658cab7bc9 2018-11-23 22:55:00        0       17    25.0
4  5ef3de4d83b088658cab7bc7 2018-11-23 22:50:00        0       16    12.6

In [102]:
from kragle import KragleDB
import datetime as dt

kdb = KragleDB('kragle_test_future')
start_date = dt.datetime(2018, 11, 23, 21, 30)
end_date = dt.datetime(2018, 11, 23, 23, 10)
df = kdb.get_instrument('EUR/USD', 'm5', start_date, end_date)
df.head()

                        _id                date  bidopen  tickqty  future
0  5ef3df6a83b088658cabcb26 2018-11-23 23:10:00        0       20    25.2
1  5ef3df6a83b088658cabcb24 2018-11-23 23:05:00        0       19    25.8
2  5ef3df6a83b088658cabcb22 2018-11-23 23:00:00        0       18    25.8
3  5ef3df6a83b088658cabcb20 2018-11-23 22:55:00        0       17    25.0
4  5ef3df6a83b088658cabcb1e 2018-11-23 22:50:00        0       16    12.6

In [88]:
list(db['EUR/USD']['m5'].find({}))

[{'_id': ObjectId('5ef3d11083b088658caa9c8f'),
  'date': datetime.datetime(2018, 11, 23, 21, 30),
  'bidopen': 0,
  'tickqty': 0},
 {'_id': ObjectId('5ef3d11083b088658caa9c91'),
  'date': datetime.datetime(2018, 11, 23, 21, 35),
  'bidopen': 1,
  'tickqty': 1},
 {'_id': ObjectId('5ef3d11083b088658caa9c93'),
  'date': datetime.datetime(2018, 11, 23, 21, 40),
  'bidopen': 2,
  'tickqty': 2},
 {'_id': ObjectId('5ef3d11083b088658caa9c95'),
  'date': datetime.datetime(2018, 11, 23, 21, 45),
  'bidopen': 4,
  'tickqty': 3},
 {'_id': ObjectId('5ef3d11083b088658caa9c97'),
  'date': datetime.datetime(2018, 11, 23, 21, 50),
  'bidopen': 9,
  'tickqty': 4},
 {'_id': ObjectId('5ef3d11083b088658caa9c99'),
  'date': datetime.datetime(2018, 11, 23, 21, 55),
  'bidopen': 16,
  'tickqty': 5},
 {'_id': ObjectId('5ef3d11083b088658caa9c9b'),
  'date': datetime.datetime(2018, 11, 23, 22, 0),
  'bidopen': 32,
  'tickqty': 6},
 {'_id': ObjectId('5ef3d11083b088658caa9c9d'),
  'date': datetime.datetime(2018, 11, 23, 22, 5),
  'bidopen': 64,
  'tickqty': 7},
 {'_id': ObjectId('5ef3d11083b088658caa9c9f'),
  'date': datetime.datetime(2018, 11, 23, 22, 10),
  'bidopen': 8,
  'tickqty': 8},
 {'_id': ObjectId('5ef3d11083b088658caa9ca1'),
  'date': datetime.datetime(2018, 11, 23, 22, 15),
  'bidopen': 9,
  'tickqty': 9},
 {'_id': ObjectId('5ef3d11083b088658caa9ca3'),
  'date': datetime.datetime(2018, 11, 23, 22, 20),
  'bidopen': 13,
  'tickqty': 10},
 {'_id': ObjectId('5ef3d11083b088658caa9ca5'),
  'date': datetime.datetime(2018, 11, 23, 22, 25),
  'bidopen': 14,
  'tickqty': 11},
 {'_id': ObjectId('5ef3d11083b088658caa9ca7'),
  'date': datetime.datetime(2018, 11, 23, 22, 30),
  'bidopen': 15,
  'tickqty': 12},
 {'_id': ObjectId('5ef3d11083b088658caa9ca9'),
  'date': datetime.datetime(2018, 11, 23, 22, 35),
  'bidopen': 16,
  'tickqty': 13},
 {'_id': ObjectId('5ef3d11083b088658caa9cab'),
  'date': datetime.datetime(2018, 11, 23, 22, 40),
  'bidopen': 17,
  'tickqty': 14},
 {'_id': ObjectId('5ef3d11083b088658caa9cad'),
  'date': datetime.datetime(2018, 11, 23, 22, 45),
  'bidopen': 0,
  'tickqty': 15},
 {'_id': ObjectId('5ef3d11083b088658caa9caf'),
  'date': datetime.datetime(2018, 11, 23, 22, 50),
  'bidopen': 0,
  'tickqty': 16},
 {'_id': ObjectId('5ef3d11083b088658caa9cb1'),
  'date': datetime.datetime(2018, 11, 23, 22, 55),
  'bidopen': 0,
  'tickqty': 17},
 {'_id': ObjectId('5ef3d11083b088658caa9cb3'),
  'date': datetime.datetime(2018, 11, 23, 23, 0),
  'bidopen': 0,
  'tickqty': 18},
 {'_id': ObjectId('5ef3d11083b088658caa9cb5'),
  'date': datetime.datetime(2018, 11, 23, 23, 5),
  'bidopen': 0,
  'tickqty': 19},
 {'_id': ObjectId('5ef3d11083b088658caa9cb7'),
  'date': datetime.datetime(2018, 11, 23, 23, 10),
  'bidopen': 0,
  'tickqty': 20}]

In [79]:
list( db['EUR/USD']['m1'].find({'date': dt.datetime(2018, 1, 8, 1, )}))

[{'_id': ObjectId('5e0d2069f45f0784ec612500'),
  'date': datetime.datetime(2018, 1, 8, 1, 0),
  'bidopen': 1.20365,
  'bidclose': 1.20364,
  'bidhigh': 1.20366,
  'bidlow': 1.20363,
  'askopen': 1.2038,
  'askclose': 1.2038,
  'askhigh': 1.2038,
  'asklow': 1.20375,
  'tickqty': 51},
 {'_id': ObjectId('5e0d206af45f0784ec612501'),
  'date': datetime.datetime(2018, 1, 8, 1, 0),
  'bidopen': 1.20365,
  'bidclose': 1.20364,
  'bidhigh': 1.20366,
  'bidlow': 1.20363,
  'askopen': 1.2038,
  'askclose': 1.2038,
  'askhigh': 1.2038,
  'asklow': 1.20375,
  'tickqty': 51}]

In [60]:
 db['EUR/USD']['H1'].create_index([('date',-1)], unique=True)

'date_-1'

In [81]:
def prune_and_index_db(db):
    for coll_name in db.list_collection_names():
        print('Prune {}'.format(coll_name))
        l = list(db[coll_name]
              .aggregate([
                  {"$group" : { '_id':{"date":'$date'}, "count": { "$sum": 1 } } },
                  {"$match": {"count" : {"$gt": 1} } },
                  {'$sort':{"_id":1}},

              ]))
        for val in l:
            one = db[coll_name].find_one({'date':val['_id']['date']})
            db[coll_name].delete_one({'_id':one['_id']})
        db[coll_name].create_index([('date',-1)], unique=True)
    print('Done')

In [82]:
prune_and_index_db(db)

Prune AUD/USD.m1
Prune EUR/GBP.H4
Prune USD/CAD.H6
Prune USD/CAD.H2
Prune EUR/USD.H2
Prune GBP/USD.H1
Prune NZD/USD.H6
Prune NZD/USD.H2
Prune GBP/USD.H4
Prune GBP/USD.D1
Prune EUR/JPY.m1
Prune EUR/CHF.H3
Prune ETH/USD.H3
Prune EUR/GBP.H8
Prune EUR/JPY.H4
Prune EUR/JPY.H2
Prune EUR/USD.m5
Prune NZD/USD.H8
Prune NZD/USD.m30
Prune EUR/CHF.H2
Prune EUR/USD.H8
Prune EUR/JPY.H8
Prune USD/JPY.H8
Prune USD/JPY.H4
Prune USD/JPY.H3
Prune GBP/USD.H2
Prune AUD/USD.H6
Prune EUR/CHF.m1
Prune GBP/USD.H8
Prune ETH/USD.m1
Prune USD/CAD.D1
Prune EUR/JPY.H6
Prune EUR/USD.H4
Prune ETH/USD.H2
Prune EUR/JPY.m30
Prune AUD/USD.H4
Prune NZD/USD.m15
Prune EUR/JPY.m5
Prune EUR/GBP.m5
Prune EUR/CHF.H6
Prune GBP/USD.m30
Prune AUD/USD.m30
Prune NZD/USD.H1
Prune USD/CAD.m5
Prune EUR/GBP.H2
Prune USD/CAD.H8
Prune AUD/USD.H1
Prune ETH/USD.H1
Prune USD/JPY.m5
Prune ETH/USD.m5
Prune NZD/USD.m5
Prune AUD/USD.m5
Prune USD/CAD.m30
Prune EUR/USD.m1
Prune USD/CAD.H3
Prune USD/JPY.D1
Prune EUR/JPY.H3
Prune GBP/USD.m1
Prune USD/CAD.H4
Prune USD/JPY.m30
Prune EUR/GBP.H6
Prune EUR/GBP.m15
Prune EUR/JPY.D1
Prune USD/JPY.H6
Prune EUR/GBP.m1
Prune USD/JPY.m1
Prune USD/JPY.H2
Prune EUR/CHF.m30
Prune EUR/USD.H6
Prune ETH/USD.m30
Prune GBP/USD.H6
Prune AUD/USD.H8
Prune NZD/USD.H3
Prune EUR/CHF.D1
Prune GBP/USD.m5
Prune EUR/GBP.H1
Prune EUR/JPY.H1
Prune EUR/CHF.H8
Prune USD/CAD.m15
Prune ETH/USD.D1
Prune EUR/CHF.H1
Prune AUD/USD.H3
Prune NZD/USD.m1
Prune ETH/USD.H8
Prune EUR/USD.m15
Prune EUR/CHF.H4
Prune EUR/USD.H3
Prune GBP/USD.m15
Prune USD/CAD.H1
Prune ETH/USD.H4
Prune USD/JPY.m15
Prune EUR/USD.H1
Prune EUR/GBP.H3
Prune EUR/GBP.m30
Prune NZD/USD.H4
Prune GBP/USD.H3
Prune AUD/USD.m15
Prune EUR/GBP.D1
Prune ETH/USD.m15
Prune AUD/USD.D1
Prune USD/JPY.H1
Prune USD/CAD.m1
Prune EUR/CHF.m15
Prune NZD/USD.D1
Prune EUR/USD.m30
Prune EUR/CHF.m5
Prune EUR/JPY.m15
Prune AUD/USD.H2
Prune ETH/USD.H6
Done

In [78]:
l = list(db['EUR/USD']['m1']
      .aggregate([
          {"$group" : { '_id':{"date":'$date'}, "count": { "$sum": 1 } } },
          {"$match": {"count" : {"$gt": 1} } },
          {'$sort':{"_id":1}},
          
      ]))
l

[{'_id': {'date': datetime.datetime(2018, 1, 8, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 1, 15, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 1, 22, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 1, 29, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 2, 5, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 2, 12, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 2, 19, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 2, 26, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 3, 5, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 3, 12, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 3, 19, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 3, 26, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 4, 2, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 4, 9, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 4, 16, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 4, 23, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 4, 30, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 5, 7, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 5, 14, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 5, 21, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 5, 28, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 6, 4, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 6, 11, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 6, 18, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 6, 25, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 7, 2, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 7, 9, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 7, 16, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 7, 23, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 7, 30, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 8, 6, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 8, 13, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 8, 20, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 8, 27, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 9, 3, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 9, 10, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 9, 17, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 9, 24, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 10, 1, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 10, 8, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 10, 15, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 10, 22, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 10, 29, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 11, 5, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 11, 12, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 11, 19, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 11, 26, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 12, 3, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 12, 10, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 12, 17, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 12, 24, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2018, 12, 31, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 1, 7, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 1, 14, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 1, 21, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 1, 28, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 2, 4, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 2, 11, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 2, 18, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 2, 25, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 3, 4, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 3, 11, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 3, 18, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 3, 25, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 4, 1, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 4, 8, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 4, 15, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 4, 22, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 4, 29, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 5, 6, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 5, 13, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 5, 20, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 5, 27, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 6, 3, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 6, 10, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 6, 17, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 6, 24, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 7, 1, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 7, 8, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 7, 15, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 7, 22, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 7, 29, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 8, 5, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 8, 12, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 8, 19, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 8, 26, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 9, 2, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 9, 9, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 9, 16, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 9, 23, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 9, 30, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 10, 7, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 10, 14, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 10, 21, 2, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 10, 28, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 11, 4, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 11, 11, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 11, 18, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 11, 25, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 12, 2, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 12, 9, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 12, 16, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 12, 23, 1, 0)}, 'count': 2},
 {'_id': {'date': datetime.datetime(2019, 12, 30, 1, 0)}, 'count': 2}]

In [1]:
from kragle import KragleDB
kdb = KragleDB('kragle_test')
kdb.client.drop_database(kdb.dbname)
periods = ['m1', 'm5', 'm15','m30', 'H1', 'H2', 'H8']
for period in periods:
    df = kdb.dataframe_read_json(r'kragle/test_data/'+ period + '_test.json')
    kdb.fetch_dataframe(df, 'EUR/USD', period)

In [7]:
import datetime as dt
start = dt.datetime(2018, 11, 22, 1)
end = dt.datetime(2018, 11, 28, 1)
kdb.insert_future('EUR/USD', 'm5',start, end, d=10, r=2)

In [22]:
df = kdb.get_instrument('EUR/USD', 'm5',start, end)
df2 = df.loc[(df.future>0.0015) | (df.future< -0.0015),['date', 'bidopen','future']]
df2.info()
df2.head(40)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 163 to 522
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     19 non-null     datetime64[ns]
 1   bidopen  19 non-null     float64
 2   future   19 non-null     float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 608.0 bytes

                   date  bidopen  future
163 2018-11-26 10:40:00  1.13798 -0.0016
164 2018-11-26 10:45:00  1.13793 -0.0016
210 2018-11-26 14:35:00  1.13728 -0.0016
211 2018-11-26 14:40:00  1.13738 -0.0018
422 2018-11-27 08:10:00  1.13317 -0.0018
423 2018-11-27 08:15:00  1.13285 -0.0018
424 2018-11-27 08:20:00  1.13299 -0.0022
427 2018-11-27 08:35:00  1.13337 -0.0025
428 2018-11-27 08:40:00  1.13262 -0.0016
505 2018-11-27 15:05:00  1.13227 -0.0021
506 2018-11-27 15:10:00  1.13233 -0.0025
507 2018-11-27 15:15:00  1.13274 -0.0031
508 2018-11-27 15:20:00  1.13237 -0.0026
509 2018-11-27 15:25:00  1.13223 -0.0023
510 2018-11-27 15:30:00  1.13239 -0.0022
511 2018-11-27 15:35:00  1.13257 -0.0022
520 2018-11-27 16:20:00  1.13051 -0.0017
521 2018-11-27 16:25:00  1.13069 -0.0019
522 2018-11-27 16:30:00  1.13081 -0.0019

In [1]:
import kragle.kragle as kk
import datetime as dt

start = dt.datetime(2020, 10, 6)
end = dt.datetime(2020, 10, 12)

m = kk.Manager()
m.init_fxcm()
df = m.fetch_instrument('EUR/USD', start, end)

m.close_fxcm()
print('END')

|ERROR|2021-02-18 00:16:11,892|Socket returns unknown error.

ServerError: Can not connect to FXCM Server.

In [1]:
import kragle.fxcm_utils as fxutils
import datetime as dt
import logging.config

logging.config.fileConfig('log.cfg')

start = dt.datetime(2020, 10, 6)
end = dt.datetime(2020, 10, 12)


m = fxutils.FxcmManager()
m.fetch_instrument(start, end)
m.close()

print('END')

WARNING | Default account set to 1270618, to change use set_default_account().
END

In [2]:
import datetime as dt
import fxcmpy 

start = dt.datetime(2020, 10, 6)
end = dt.datetime(2020, 10, 12)

fxcon = fxcmpy.fxcmpy(config_file='fxcm.cfg')
df = fxcon.get_candles('EUR/USD', period='m1', start=start, end=end, with_index=False)

df.info()

|WARNING|2021-02-18 00:09:26,048|Default account set to 1270618, to change use set_default_account().

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      5802 non-null   datetime64[ns]
 1   bidopen   5802 non-null   float64
 2   bidclose  5802 non-null   float64
 3   bidhigh   5802 non-null   float64
 4   bidlow    5802 non-null   float64
 5   askopen   5802 non-null   float64
 6   askclose  5802 non-null   float64
 7   askhigh   5802 non-null   float64
 8   asklow    5802 non-null   float64
 9   tickqty   5802 non-null   int64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 453.4 KB

In [3]:
df.head()

,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
0,2020-10-06 00:00:00,1.17884,1.17895,1.17899,1.17861,1.17897,1.17907,1.17911,1.17874,305
1,2020-10-06 00:01:00,1.17895,1.17905,1.17905,1.17890,1.17907,1.17917,1.17918,1.17903,141
2,2020-10-06 00:02:00,1.17905,1.17908,1.17910,1.17895,1.17917,1.17922,1.17923,1.17909,131
3,2020-10-06 00:03:00,1.17908,1.17900,1.17912,1.17895,1.17922,1.17912,1.17925,1.17907,68
4,2020-10-06 00:04:00,1.17900,1.17899,1.17900,1.17893,1.17912,1.17912,1.17913,1.17905,113

|ERROR|2021-02-18 00:10:14,346|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:10:26,331|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:10:40,493|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:10:55,938|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:11:11,275|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:11:26,050|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:11:40,956|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:11:56,347|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:12:10,997|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:12:25,882|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:12:40,667|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:12:55,540|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:13:10,932|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:13:25,906|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:13:41,413|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:13:56,142|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:14:10,859|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:14:25,850|Connection error: Connection refused by the server
|ERROR|2021-02-18 00:14:40,654|Connection error: Connection refused by the server

In [17]:
import datetime as dt
start = dt.datetime(2019, 10, 1)

end = dt.datetime(2019, 10, 4)
m.fetch_candles('EUR/USD', start, end)

ValueError: period must be one of ['m1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8', 'D1', 'W1', 'M1'].

In [22]:
[i+5  for i in range(6)]

[5, 6, 7, 8, 9, 10]

In [45]:
import kragle
import datetime as dt
m = kragle.KragleDB('forex_raw')
start = dt.datetime.strptime('2018-10-24 14:00', '%Y-%m-%d %H:%M')
end = dt.datetime.strptime('2018-11-27 23:00' , '%Y-%m-%d %H:%M')
p = 'H1'
df = m.get_instrument('EUR/USD',p, start, end)
df.drop('_id', axis=1).to_json(p+'_test.json',orient='records',date_format='iso')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       600 non-null    object
 1   date      600 non-null    datetime64[ns]
 2   bidopen   600 non-null    float64
 3   bidclose  600 non-null    float64
 4   bidhigh   600 non-null    float64
 5   bidlow    600 non-null    float64
 6   askopen   600 non-null    float64
 7   askclose  600 non-null    float64
 8   askhigh   600 non-null    float64
 9   asklow    600 non-null    float64
 10  tickqty   600 non-null    int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(1)
memory usage: 51.7+ KB

In [1]:
import kragle
st = kragle.strategy.RandomStrategy(43)
for i in range(40):
    print(st.action(''))

Action.SELL
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.BUY
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.SELL
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.HOLD
Action.SELL

In [10]:
import datetime as dt
from kragle import KragleDB
from kragle import AgentTester, BuyStrategy, SellStrategy, RandomStrategy
import kragle

start = dt.datetime(2018, 11, 29, 13, 0)
end = dt.datetime(2018, 11, 30, 23, 0)
kdb = KragleDB('forex_raw')

at = AgentTester(kdb, SellStrategy())
at.test_strategy('EUR/USD', start, end)
print (at.wallet)

-0.0004099999999998214

In [4]:
from kragle.kragledb import KragleDB


kdb = KragleDB('forex_raw')

In [6]:
kdb.get_periods('EUR/USD')

['H6', 'H4', 'H2', 'm15', 'm30', 'm1', 'm5', 'H8', 'H3', 'H1']

In [8]:
import kragle.kragledb

kragle.kragledb.get_db_names()

['admin',
 'config',
 'dummy',
 'examples',
 'forex',
 'forex2',
 'forex3',
 'forex_raw',
 'forex_raw_save',
 'forex_raw_save_dups',
 'kragle02',
 'kragle_sintetic',
 'krangle',
 'local',
 'prove']

In [3]:
import datetime as dt

delta = dt.timedelta(2)

str(delta)

'2 days, 0:00:00'