In [5]:
import fxcmpy

con = fxcmpy.fxcmpy(config_file='fxcm.cfg')
con.get_instruments()
con.close()

ServerError: Can not connect to FXCM Server.

In [1]:
import fxcmpy
print(fxcmpy.__version__)

1.2.6

In [13]:
import datetime as dt
import pandas as pd

first = dt.datetime(2019, 1, 1)

start = first + dt.timedelta(0)
end = first + dt.timedelta(7)
    
dfm1 =  con.get_candles('EUR/USD', period='m1', start=start, end=end)
#dfm2 =  con.get_candles('EUR/USD', period='m5', start=start, end=end)

print('-----------')
dfm1.head(12)

-----------

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2019-01-02 05:25:00,1.14442,1.14558,1.14567,1.14558,1.14459,1.14573,1.14583,1.14573,128
2019-01-02 05:26:00,1.14558,1.14561,1.14564,1.14557,1.14573,1.14576,1.14579,1.14572,97
2019-01-02 05:27:00,1.14561,1.14571,1.14574,1.14555,1.14576,1.14586,1.14589,1.14571,88
2019-01-02 05:28:00,1.14571,1.14568,1.14572,1.14565,1.14586,1.14584,1.14587,1.14581,52
2019-01-02 05:29:00,1.14568,1.14572,1.14574,1.14566,1.14584,1.14587,1.14589,1.14582,71
2019-01-02 05:30:00,1.14572,1.14597,1.14598,1.14566,1.14587,1.14612,1.14614,1.14580,215
2019-01-02 05:31:00,1.14597,1.14582,1.14604,1.14577,1.14612,1.14598,1.14618,1.14593,208
2019-01-02 05:32:00,1.14582,1.14593,1.14594,1.14579,1.14598,1.14607,1.14610,1.14596,157
2019-01-02 05:33:00,1.14593,1.14603,1.14604,1.14590,1.14607,1.14618,1.14620,1.14605,96
2019-01-02 05:34:00,1.14603,1.14609,1.14622,1.14604,1.14618,1.14624,1.14637,1.14618,145
2019-01-02 05:35:00,1.14609,1.14622,1.14624,1.14608,1.14624,1.14636,1.14639,1.14623,122
2019-01-02 05:36:00,1.14622,1.14654,1.14654,1.14622,1.14636,1.14668,1.14669,1.14637,282

In [9]:
instruments = ['EUR_USD', 'USD_JPY', 'GBP_USD', 'USD_CHF', 'AUD_USD', 'USD_CAD', 'NZD_USD',  'USD_SEK', 'USD_NOK',
                 'USD_MXN', 'USD_ZAR', 'USD_HKD', 'USD_TRY', 'USD_ILS', 'USD_CNH',  'XAU_USD', 'XAG_USD', 'BTC_USD',
                 'BCH_USD', 'ETH_USD', 'LTC_USD', 'XRP_USD']
instruments2 = ['EUR_USD']

In [19]:
from pprint import pprint as pp
from  random import randrange as rr
from  random import random as rnd
import pandas as pd

df1= pd.DataFrame(  [{'A':i , 'B':rr(-10, 10, 1)  } for i in range(16)])
df2= pd.DataFrame(  [{'A':i , 'B':rr(-10, 10, 1)  } for i in range(4)])


ll = df1.merge(df2, left_on='A', right_on='A', how='left')['B_y'].isna()
df1.loc[ll]

     A  B
4    4  6
5    5  6
6    6  8
7    7  4
8    8  6
9    9 -5
10  10  6
11  11  3
12  12  1
13  13 -5
14  14  7
15  15  1

In [5]:
from pprint import pprint as pp
from  random import randrange as rr
from  random import random as rnd

tmp ={'periods':['m1','m5','m30','H2']
      , 'instruments':['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF']
      ,'future': rnd()}
def fill(d):
    for instrument in tmp['instruments']:
        pp = tmp.get(instrument, {})
        for period in tmp['periods']:
            pp[period] = [{'A':rr(-10, 10, 1) , 'B':rr(-10, 10, 1)  } for i in range(4)]
        tmp[instrument] = pp
fill(tmp)
pp(tmp)

{'EUR/USD': {'H2': [{'A': -1, 'B': 1},
                    {'A': 7, 'B': 3},
                    {'A': -1, 'B': 5},
                    {'A': -6, 'B': -2}],
             'm1': [{'A': -7, 'B': 3},
                    {'A': 4, 'B': -4},
                    {'A': -7, 'B': -7},
                    {'A': -5, 'B': 2}],
             'm30': [{'A': -10, 'B': 8},
                     {'A': -1, 'B': -5},
                     {'A': 9, 'B': 0},
                     {'A': -2, 'B': -9}],
             'm5': [{'A': -10, 'B': -6},
                    {'A': 3, 'B': 4},
                    {'A': 0, 'B': -10},
                    {'A': 9, 'B': 8}]},
 'GBP/USD': {'H2': [{'A': -4, 'B': -2},
                    {'A': 7, 'B': 3},
                    {'A': -5, 'B': 7},
                    {'A': 7, 'B': -9}],
             'm1': [{'A': -2, 'B': 3},
                    {'A': -2, 'B': -2},
                    {'A': 5, 'B': -4},
                    {'A': -3, 'B': 8}],
             'm30': [{'A': -6, 'B': 8},
                     {'A': -5, 'B': -6},
                     {'A': 9, 'B': 2},
                     {'A': -4, 'B': 0}],
             'm5': [{'A': -4, 'B': 8},
                    {'A': 5, 'B': -8},
                    {'A': 6, 'B': 7},
                    {'A': 2, 'B': -3}]},
 'USD/CHF': {'H2': [{'A': 7, 'B': -5},
                    {'A': -2, 'B': 8},
                    {'A': 7, 'B': -7},
                    {'A': 4, 'B': 8}],
             'm1': [{'A': 4, 'B': -7},
                    {'A': -6, 'B': 2},
                    {'A': 8, 'B': -6},
                    {'A': -9, 'B': -2}],
             'm30': [{'A': -4, 'B': 9},
                     {'A': -5, 'B': -4},
                     {'A': -10, 'B': -3},
                     {'A': 0, 'B': 9}],
             'm5': [{'A': 9, 'B': -1},
                    {'A': -4, 'B': 2},
                    {'A': 6, 'B': 2},
                    {'A': 1, 'B': -7}]},
 'USD/JPY': {'H2': [{'A': -9, 'B': 9},
                    {'A': 0, 'B': 7},
                    {'A': 4, 'B': -10},
                    {'A': 8, 'B': 0}],
             'm1': [{'A': 8, 'B': -6},
                    {'A': -3, 'B': 3},
                    {'A': -4, 'B': 0},
                    {'A': 9, 'B': 3}],
             'm30': [{'A': 9, 'B': 1},
                     {'A': 2, 'B': -7},
                     {'A': 6, 'B': 3},
                     {'A': 3, 'B': 9}],
             'm5': [{'A': 2, 'B': 2},
                    {'A': -5, 'B': -1},
                    {'A': 7, 'B': 3},
                    {'A': -2, 'B': 8}]},
 'future': 0.41133586215504836,
 'instruments': ['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF'],
 'periods': ['m1', 'm5', 'm30', 'H2']}

In [6]:
import pandas as pd
tmpdf = pd.DataFrame(tmp['EUR/USD']['m1'])
tmpdf

   A  B
0  0 -9
1 -5 -6
2  6  6
3 -2  6

In [15]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['forex']

In [21]:
import datetime as dt

date_time_str = '2018-06-29 17:08:00'
endDate = dt.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S')
ll = [endDate + i* dt.timedelta(minutes=-1) for i in range(10)]
ll

import krangle

m = krangle.Manager()

[datetime.datetime(2018, 6, 29, 17, 8),
 datetime.datetime(2018, 6, 29, 17, 7),
 datetime.datetime(2018, 6, 29, 17, 6),
 datetime.datetime(2018, 6, 29, 17, 5),
 datetime.datetime(2018, 6, 29, 17, 4),
 datetime.datetime(2018, 6, 29, 17, 3),
 datetime.datetime(2018, 6, 29, 17, 2),
 datetime.datetime(2018, 6, 29, 17, 1),
 datetime.datetime(2018, 6, 29, 17, 0),
 datetime.datetime(2018, 6, 29, 16, 59)]

In [40]:
import datetime as dt
start = dt.datetime(2018,1,10,10,0,0)
end =   dt.datetime(2018,1,10,10,30,0)

import krangle

m = krangle.Manager()

d = m.m1(start, end)

In [45]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 1 columns):
date    31 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 376.0 bytes

In [19]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
%autoreload

In [16]:
import krangle

m = krangle.Manager()
df = m.get_instrument('GBP/USD', 'D1')


df.head()

,_id,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty,future
0,5e0dd91d04d16fb20e412f89,2018-01-02 23:00:00,1.35069,1.35892,1.36000,1.35041,1.35108,1.35926,1.36012,1.35085,263593,0.011042
1,5e0dd91d04d16fb20e412f8a,2018-01-03 23:00:00,1.35892,1.35111,1.36122,1.34937,1.35926,1.35192,1.36137,1.34945,262857,0.009141
2,5e0dd91d04d16fb20e412f8b,2018-01-04 23:00:00,1.35111,1.35479,1.35591,1.35049,1.35192,1.35545,1.35605,1.35065,261204,0.019307
3,5e0dd91d04d16fb20e412f8c,2018-01-05 23:00:00,1.35479,1.35631,1.35820,1.35226,1.35545,1.35691,1.35834,1.35241,277149,0.018992
4,5e0dd91d04d16fb20e412f8d,2018-01-07 23:00:00,1.35631,1.35554,1.35615,1.35537,1.35691,1.35615,1.35680,1.35605,108,0.019634

In [1]:
from kragle import KragleDB
kdb = KragleDB('kragle_test')
kdb.client.drop_database(kdb.dbname)
periods = ['m1', 'm5', 'm15','m30', 'H1', 'H2', 'H8']
for period in periods:
    df = kdb.dataframe_read_json(r'kragle/test_data/'+ period + '_test.json')
    kdb.fetch_dataframe(df, 'EUR/USD', period)

In [7]:
import datetime as dt
start = dt.datetime(2018, 11, 22, 1)
end = dt.datetime(2018, 11, 28, 1)
kdb.insert_future('EUR/USD', 'm5',start, end, d=10, r=2)

In [22]:
df = kdb.get_instrument('EUR/USD', 'm5',start, end)
df2 = df.loc[(df.future>0.0015) | (df.future< -0.0015),['date', 'bidopen','future']]
df2.info()
df2.head(40)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 163 to 522
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     19 non-null     datetime64[ns]
 1   bidopen  19 non-null     float64
 2   future   19 non-null     float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 608.0 bytes

                   date  bidopen  future
163 2018-11-26 10:40:00  1.13798 -0.0016
164 2018-11-26 10:45:00  1.13793 -0.0016
210 2018-11-26 14:35:00  1.13728 -0.0016
211 2018-11-26 14:40:00  1.13738 -0.0018
422 2018-11-27 08:10:00  1.13317 -0.0018
423 2018-11-27 08:15:00  1.13285 -0.0018
424 2018-11-27 08:20:00  1.13299 -0.0022
427 2018-11-27 08:35:00  1.13337 -0.0025
428 2018-11-27 08:40:00  1.13262 -0.0016
505 2018-11-27 15:05:00  1.13227 -0.0021
506 2018-11-27 15:10:00  1.13233 -0.0025
507 2018-11-27 15:15:00  1.13274 -0.0031
508 2018-11-27 15:20:00  1.13237 -0.0026
509 2018-11-27 15:25:00  1.13223 -0.0023
510 2018-11-27 15:30:00  1.13239 -0.0022
511 2018-11-27 15:35:00  1.13257 -0.0022
520 2018-11-27 16:20:00  1.13051 -0.0017
521 2018-11-27 16:25:00  1.13069 -0.0019
522 2018-11-27 16:30:00  1.13081 -0.0019

In [72]:
import krangle
m = krangle.Manager()
df = m.get_instrument('GBP/USD', 'D1')

df.head()

,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
_id,,,,,,,,,,
5e0dd91d04d16fb20e412f89,2018-01-02 23:00:00,1.35069,1.35892,1.36000,1.35041,1.35108,1.35926,1.36012,1.35085,263593
5e0dd91d04d16fb20e412f8a,2018-01-03 23:00:00,1.35892,1.35111,1.36122,1.34937,1.35926,1.35192,1.36137,1.34945,262857
5e0dd91d04d16fb20e412f8b,2018-01-04 23:00:00,1.35111,1.35479,1.35591,1.35049,1.35192,1.35545,1.35605,1.35065,261204
5e0dd91d04d16fb20e412f8c,2018-01-05 23:00:00,1.35479,1.35631,1.35820,1.35226,1.35545,1.35691,1.35834,1.35241,277149
5e0dd91d04d16fb20e412f8d,2018-01-07 23:00:00,1.35631,1.35554,1.35615,1.35537,1.35691,1.35615,1.35680,1.35605,108

In [39]:
from bson.objectid import ObjectId

df2 = df.loc[[ObjectId('5e0dd91d04d16fb20e412f8a')],:]
df2.head()

,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
_id,,,,,,,,,,
5e0dd91d04d16fb20e412f8a,2018-01-03 23:00:00,1.35892,1.35111,1.36122,1.34937,1.35926,1.35192,1.36137,1.34945,262857

In [58]:
df.reset_index(inplace=True)
df.head()

,_id,date,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
0,5e0dd91d04d16fb20e412f89,2018-01-02 23:00:00,1.35069,1.35892,1.36000,1.35041,1.35108,1.35926,1.36012,1.35085,263593
1,5e0dd91d04d16fb20e412f8a,2018-01-03 23:00:00,1.35892,1.35111,1.36122,1.34937,1.35926,1.35192,1.36137,1.34945,262857
2,5e0dd91d04d16fb20e412f8b,2018-01-04 23:00:00,1.35111,1.35479,1.35591,1.35049,1.35192,1.35545,1.35605,1.35065,261204
3,5e0dd91d04d16fb20e412f8c,2018-01-05 23:00:00,1.35479,1.35631,1.35820,1.35226,1.35545,1.35691,1.35834,1.35241,277149
4,5e0dd91d04d16fb20e412f8d,2018-01-07 23:00:00,1.35631,1.35554,1.35615,1.35537,1.35691,1.35615,1.35680,1.35605,108

In [8]:

m.fetch_dataframe(df,'GBP_USD', 'D1')

In [42]:
window = 3
for r in range(df.shape[0]-window):
    
    tmp = df.iloc[[i+r  for i in range(window)]]
    df.loc[r,'future'] = tmp.tickqty.sum()
    
df.head(20)

    bidopen  askopen  tickqty      mean      dev  future
0   1.20042  1.20098        2  1.200700  0.00056     7.0
1   1.19930  1.20000        1  1.199650  0.00070     6.0
2   1.19997  1.20030        4  1.200135  0.00033     6.0
3   1.20047  1.20125        1  1.200860  0.00078     3.0
4   1.20047  1.20100        1  1.200735  0.00053     4.0
5   1.20047  1.20125        1  1.200860  0.00078     8.0
6   1.20047  1.20080        2  1.200635  0.00033     8.0
7   1.20047  1.20125        5  1.200860  0.00078     7.0
8   1.20047  1.20125        1  1.200860  0.00078     3.0
9   1.20046  1.20125        1  1.200855  0.00079     3.0
10  1.20046  1.20095        1  1.200705  0.00049     3.0
11  1.20046  1.20075        1  1.200605  0.00029     4.0
12  1.19996  1.20075        1  1.200355  0.00079     5.0
13  1.19996  1.20070        2  1.200330  0.00074    13.0
14  1.19996  1.20030        2  1.200130  0.00034    15.0
15  1.19996  1.20030        9  1.200130  0.00034    14.0
16  1.19996  1.20030        4  1.200130  0.00034     6.0
17  1.19922  1.20005        1  1.199635  0.00083     4.0
18  1.19923  1.20005        1  1.199640  0.00082     4.0
19  1.19934  1.20025        2  1.199795  0.00091     4.0

In [17]:
import datetime as dt
start = dt.datetime(2019, 10, 1)

end = dt.datetime(2019, 10, 4)
m.fetch_candles('EUR/USD', start, end)

ValueError: period must be one of ['m1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8', 'D1', 'W1', 'M1'].

In [22]:
[i+5  for i in range(6)]

[5, 6, 7, 8, 9, 10]

In [45]:
import kragle
import datetime as dt
m = kragle.KragleDB('forex_raw')
start = dt.datetime.strptime('2018-10-24 14:00', '%Y-%m-%d %H:%M')
end = dt.datetime.strptime('2018-11-27 23:00' , '%Y-%m-%d %H:%M')
p = 'H1'
df = m.get_instrument('EUR/USD',p, start, end)
df.drop('_id', axis=1).to_json(p+'_test.json',orient='records',date_format='iso')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       600 non-null    object
 1   date      600 non-null    datetime64[ns]
 2   bidopen   600 non-null    float64
 3   bidclose  600 non-null    float64
 4   bidhigh   600 non-null    float64
 5   bidlow    600 non-null    float64
 6   askopen   600 non-null    float64
 7   askclose  600 non-null    float64
 8   askhigh   600 non-null    float64
 9   asklow    600 non-null    float64
 10  tickqty   600 non-null    int64
dtypes: datetime64[ns](1), float64(8), int64(1), object(1)
memory usage: 51.7+ KB

In [110]:
import pandas as pd
df2 = pd.read_json(r'kragle\\test_data\\'+ 'H8_test.json', orient='records')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 10 columns):
date        600 non-null datetime64[ns, UTC]
bidopen     600 non-null float64
bidclose    600 non-null float64
bidhigh     600 non-null float64
bidlow      600 non-null float64
askopen     600 non-null float64
askclose    600 non-null float64
askhigh     600 non-null float64
asklow      600 non-null float64
tickqty     600 non-null int64
dtypes: datetime64[ns, UTC](1), float64(8), int64(1)
memory usage: 47.0 KB

In [3]:
import kragle
kragle.test_db_clean()

In [4]:
import kragle
kragle.test_db_load()